<h1>Speisekarte</h1>
<h2>Gerichte</h2>

<app-gerichte [gericht]="gerichte[0]" [preis]="preiseGerichte[0]"></app-gerichte>
<app-gerichte [gericht]="gerichte[1]" [preis]="preiseGerichte[1]"></app-gerichte>
<app-gerichte [gericht]="gerichte[2]" [preis]="preiseGerichte[2]"></app-gerichte>

<h2>Getränke</h2>

<app-gerichte [gericht]="getraenke[0]" [preis]="preiseGetraenke[0]"></app-gerichte>
<app-gerichte [gericht]="getraenke[1]" [preis]="preiseGetraenke[1]"></app-gerichte>
<app-gerichte [gericht]="getraenke[2]" [preis]="preiseGetraenke[2]"></app-gerichte>

<h2>Nachspeisen</h2>

<app-gerichte *ngFor="let n of nachspeisen; let i = index;" [gericht]="nachspeisen[i]" [preis]="preiseNachspeise[i]"></app-gerichte>